* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content {
  width: 1000px;
  height: 600px;
  background-color: rgb(44, 43, 39);
  margin: 50px auto;
  border-radius: 10px;
  padding: 50px 0;
}
.slider {
  position: relative;
  width: 900px;
  height: 450px;
  background-color: rgb(194, 209, 199);
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out ;
}
.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide img,
.slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prev,
.next {
  position: absolute;
  top: 95%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 255, 0.484);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: all linear .3s;
}
.prev:hover,
.next:hover {

  background-color: rgba(12, 138, 104, 0.484);

}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.dots {
  padding: 0;
  text-align: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  column-gap: 10px;
}
.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #f1f1f1;
  border-radius: 50%;
  cursor: pointer;
}
.active{
    background-color: red;
}
